body {
    margin: 0
}

.grid-container { 
    display: grid;
    grid-template-areas:
    "aside navbar"
    "aside main"
    "footer main";
    grid-template-rows: 0.5fr 5fr 1fr;
    grid-template-columns: 0.7fr 5fr;
    height: 100vh;     

}
.hamburguesa{
    display: flex;
    justify-content: space-between;

}

.hamburguesa i{
    display: none;
}


.navbar {
    grid-area: navbar;
    background-color: #5d8ebc;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aside {
    grid-area: aside;
    background-color: #B3B6B7;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.aside span{
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cards_container{
    display: grid;
    grid-template-columns: repeat( 3, minmax( 200px, 1fr));
    gap: 1rem;
    
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    
}

.card img{
    width: 100%;
    height: 10rem;
}


.main {
    grid-area: main;
    background-color: #F4F6F7;

} 

.footer {
    grid-area: footer;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    text-align: center;
    background-color: gray;


}

 footer i{
    padding-left: 0.5rem;
 }
.tittle {
    color: white;
    font-size: 24px;

}

.aside_title {
    color: black;
    font-size: 20px;
    font-weight: 700px;
}

.btn_comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #5d8ebc;
}

a{
    color:#fff;
}

@media (max-width: 576px){
    .grid-container { 
        display: grid;
        grid-template-areas:
        "aside"
        "navbar"
        "main"
        "footer";
    }

    .aside_category{
        display: none;
    }
   
    

}
